.box-dashboard {
  height: 100vh;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 358px) {
  .form-result {
    width: 75px !important;
  }
  .card-body {
    padding-left: 1rem !important;
    padding-right: 1rem !important
  }
  .shield {
    margin-right: 2px !important
  }
}
.box-dashboard .shield {
  margin-right: 7px
}
.box-dashboard .card-day .shield{
  width: 70%;
  height: 70%;
}
.box-dashboard .card-day span{
  font-size: 1.25rem
}